
// Mixins
//fonts
@mixin font($type) {
    @if $type == cursive {
        font-family: 'Dancing Script', cursive;
    } @else if $type == sans-serif {
        font-family: 'Raleway', sans-serif;
    }
}

// Body


// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$grey: rgba(0, 0, 0, .8);
$dark-grey: #585860;
$white: #f8fafc;
$danger: #f44e42;

$p-blue: #95a7ce;
$p-blue-dark: #2a2e37;
$p-red: #e79782 ;
$p-gold: #eed3ab;
$p-gold-dark: #a0845b;
$p-green: #5d914a;
$p-pink: #e15671;
$p-pink-light: #ff879f;


$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
