html {
    font-family: 'Roboto', sans-serif;
    body {
        width: 100%;
        text-align: center;

        p {
            font-size: 12px;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

}