html {
    font-family: 'Roboto', sans-serif;
    body {
        width: 100%;
        text-align: center;

        #content {
            //margin-top: 100px;
        }

        h2 {
            margin: 120px 0 60px;
            font-size: 40px;
            font-family: 'Dancing Script', cursive;
        }

        p {
            font-size: 14px;
        }

        .error-message {
            color: $danger;
            margin: 8px 0;
        }

        a {
            text-decoration: none;
            color: black;
            transition: background .3s;

            &:hover {
                background: rgba(255, 255, 255, .2);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    html {
        body {
            #subtitle {
                padding: 40px 0 25px;
            }
        }
    }
}