.guests-container {
    min-height: 70vh;

    p {
        width: 100%;
    }

    .guests-form {
        background: $p-blue-dark;
        border-radius: 10px;
        margin: 20px auto;
        padding: 20px 80px 5px;
        color: $p-gold;

        label {
            margin: 10px 0;
            @include font(sans-serif);
            font-weight: 100;

            i {
                color: $p-pink-light;
                cursor: pointer;
            }
        }

        button {
            background: $p-blue-dark;
            color: $p-pink-light;
            transition: all .3s;
            border: 1px solid $p-pink-light;

            &:hover {
                background-color: $p-pink-light;
                color: $p-blue-dark;
                border-color: $p-blue-dark;
            }
        }

        input:hover, select:hover {
            background: white;
        }
    }
}