html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

html body {
  width: 100%;
  text-align: center;
}

html body p {
  font-size: 12px;
}

html body a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  color: #f8fafc;
}

header nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  margin: auto;
  background: #444;
}

header nav #left a {
  color: #f8fafc;
  width: 92px;
  padding: 0 7px;
  margin: 0 15px;
}

header nav #logo {
  font-size: 50px;
  margin: 0 120px;
  background: #444;
}

header nav #right a {
  color: #f8fafc;
  width: 92px;
  padding: 15px 7px;
  margin: 0 15px;
}

footer {
  width: 100%;
  background: lightgrey;
  text-align: center;
  margin-top: 1000px;
}

#blog {
  display: block;
  width: 60%;
  margin: 0 auto;
}

#blog #posts {
  width: 60%;
  margin: 0 auto;
}

#blog #posts #makePost {
  width: 92.3%;
  background: pink;
  margin: 20px 0;
  padding: 0;
  border: 1px solid #888;
}

#blog #posts #makePost textarea {
  background: lightblue;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#blog #posts #post {
  margin: 10px 30px 50px 0;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  display: block;
}

#blog #posts #post #author {
  width: 100%;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.4);
}

#blog #posts #post #author span {
  color: black;
}

#blog #posts #post #body {
  width: 100%;
}

