<div class="comment">
    <img src="{{comment_avatar}}" class="profile-pic">
    <div class="comment-words">
        <p class="comment-name">{{comment_author}}</p>
        <p class="comment-body">{{comment_body}}</p>
    </div>

</div>
