.gallery-container {
    min-height: 80vh;
    width: 1130px;
    margin: 20px auto;
    padding: 10px;
    background: $p-blue-dark;
    border-radius: 10px;
    color: $p-gold;

    p {
        a {
            color: $p-pink;
            transition: all.3s;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    a {
        color: $p-gold;
        transition: all .3s;

       &:hover {
           color: $p-pink-light;
           text-decoration: none;
           background: transparent;
       }
    }

    .admin-controls {
        padding: 10px 0;
    }

    .gallery-links {
        display: inline-flex;
        width: 100%;
        justify-content: center;

        a {
            margin: 0 10px;
            padding: 0;
            width: auto;
        }
    }

    .tags {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        margin: 20px 0;
        padding: 0;
        cursor: pointer;

        li {
            margin-left: 8px;
            cursor: pointer;
        }

        .highlight {
            cursor: pointer;
            color: $p-pink;
        }
    }

    .grid {
        margin: 0 0 0 10px;
        width: 100%;

        .grid-sizer {
            width: 33%;
        }

        .picture {
            width: 31%;
            a {
                .galleryimage {
                    max-width: 100%;
                    border-radius: 4px;
                    margin: 10px 0;
                }
            }
        }
    }
}

.upload-modal {
    color: $p-gold;

    .modal-content {
        background: $p-blue-dark;
        border-radius: 10px;

        .modal-header {
            border-color: rgba(0, 0, 0, .9);
        }

        .upload-form {
            text-align: left;
            width: 90%;
            margin: 0 auto;

            .upload-image-container {
                display: inline-flex;
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                width: 100%;

                label {
                    width: 100%;
                }

                input {
                    text-align: center;
                    min-width: 225px;
                    margin-left: 100px;
                    color: $p-gold;
                }
            }

            label {
                width: 100%;
                margin: 25px 0 25px 20px;
                display: block;

                textarea {
                    border-radius: 4px;
                    height: 70px;
                    width: 80%;
                    margin: 10px auto;
                    display: block;
                }

                input {
                    margin-left: 10px;
                }
            }

            .modal-footer {
                border-color: rgba(0, 0, 0, .9);

                .btn.btn-primary:disabled {
                    background-color: $p-pink;
                    border-color: $p-pink;
                }
            }
        }
    }
}

@media screen and (max-width: 1170px) {
    .gallery-container {
        width: 750px;
    }
}

@media screen and (max-width: 800px) {
    .gallery-container {
        width: 80%;

        .grid {
            margin: 0 auto;

            .grid-sizer {
                width: 100%;
            }

            .picture {
                margin: 0 auto;
                width: 100%;
            }
        }
    }


}