.home {
    background: url('/CAKE/public/img/landing2.jpg') no-repeat;
    background-size: cover;
    background-position: center 30px;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    h2 {
        position: absolute;
        top: 5%;
        font-size: 5em;
        font-weight: bold;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
        //background: rgba(0, 0, 0, .5);
        color: $white;
        border: none;
    }
}

@media screen and (max-width: 735px) {
    .home {
        h2 {
            font-size: 3em;
            top: -30px;
        }
    }
}