// whole page

#blog {
    display: block;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;

    .guestbook-container {
        background: $p-blue-dark;
        width: 600px;
        margin: 20px auto 0;
        border-radius: 10px;

        .message {
            color: $p-gold;
            padding: 20px 0 0;
        }

        // create post form
        #make-post {
            width: 100%;
            margin: 20px auto 0;
            padding: 20px 20px 20px;

            // post body input box
            textarea {
                width: 100%;
                margin: 0;
                padding: 5px 0 40px 5px;
                border: 1px solid rgba(0, 0, 0, .5);
                border-radius: 8px;
            }

            // post button
            .create-post {
                color: $p-pink;
                width: auto;
                margin: 7px 0 0 7px;
                display: block;
                border: 1px solid $p-pink;
                border-radius: 2px;
                padding: 10px 17px;
                background: $p-blue-dark;
                text-decoration: none;
                cursor: pointer;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
                transition: all .3s;

                // on hover
                &:hover {
                    color: $p-blue-dark;
                    background: $p-pink;
                    border-color: $p-blue-dark;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
                }
            }
        }

        // when not logged in
        #must-log-in {
            width: 100%;
            margin: 20px auto;
            padding: 0;

            // post body input box
            textarea {
                width: 100%;
                margin: 0;
                padding: 5px 0 40px 5px;
                border: 1px solid rgba(0, 0, 0, .5);
                border-radius: 8px;
                background: rgba(0, 0, 0, .1);
                cursor: default;
            }

            // post button
            input {
                color: $p-pink;
                width: auto;
                margin: 7px 0 0 7px;
                display: block;
                border: 1px solid $p-pink;
                border-radius: 2px;
                padding: 10px 17px;
                background: $p-blue-dark;
                text-decoration: none;
                cursor: default;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
                transition: all .3s;

                // on hover
                &:hover {
                    color: $p-blue-dark;
                    background: $p-pink;
                    border-color: $p-blue-dark;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
                }
            }

        }

        // all the posts
        #posts {
            background: $p-blue-dark;
            border-radius: 0 0 4px 4px;
            width: 600px;
            margin: 0 auto;
            padding: 0 30px;

            // for every post
            .post {
                transition: all .3s;
                margin: 10px auto 30px;
                background: white;
                padding: 10px;
                width: 100%;
                text-align: left;
                display: inline-flex;
                flex-wrap: wrap;
                position: relative;
                box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                border-radius: 10px;
                border: .75px solid rgba(0, 0, 0, .2);

                // all comments
                .comments {
                    width: 80%;
                    margin: 15px 0 0 10%;
                    border-left: 2px solid $grey;
                    padding-left: 3%;
                    position: relative;

                    // each comment
                    .comment {
                        display: inline-flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        width: 430px;

                        .comment-pic {
                            width: 40px;
                            height: 40px;
                        }

                        // comment words
                        .comment-words {
                            width: 350px;

                            .comment-name {
                                margin-bottom: 10px;
                                font-size: 12px;
                                color: $p-pink;
                            }

                            .comment-body {
                                width: 100%;
                                font-size: 16px;
                            }
                        }

                        .dropdown {
                            margin-left: 10px;

                            button {
                                background-color: transparent;
                                border: none;
                                height: auto;
                                padding: 0;
                                text-align: center;

                                .fa-ellipsis-h {
                                    text-align: center;
                                    color: $p-pink-light;

                                    font-size: 20px;
                                    margin-bottom: 1px;
                                }
                            }
                            .dropdown-menu.show {
                                text-align: center;
                                max-width: 50px;

                                .buttons {
                                    cursor: pointer;
                                    border: none;
                                    background: none;
                                    color: $p-pink;
                                    width: auto;
                                    font-size: 12px;

                                    // on hover
                                    &:hover {
                                        color: $p-pink-light;
                                    }
                                }
                            }

                        }
                    }

                }

                // comment and edit forms
                .comment-edit-form {
                    width: 100%;
                    display: block;
                    margin: 15px 0 15px 50px;

                    textarea {
                        width: 90%;
                        height: 45px;
                        font-size: 12px;
                        padding: 2px 0 0 2px;
                        border-radius: 4px;
                        border: 1px solid rgba(0, 0, 0, .5);
                    }

                    // buttons in edit and comment forms
                    .comment-edit-form-buttons {
                        width: 60%;
                        font-size: 12px;
                        display: inline-flex;
                        justify-content: flex-start;

                        // edit/comment post button
                        input {
                            width: auto;
                            margin: 7px 0 0 7px;
                            display: block;
                            border: 1px solid $grey;
                            border-radius: 2px;
                            padding: 10px 17px;
                            background: white;
                            text-decoration: none;
                            cursor: pointer;
                            box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
                            transition: all .3s;

                            // on hover
                            &:hover {
                                box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
                            }
                        }

                        .close-form {
                            margin: 10px 0 0 5px;
                            padding: 0;
                            height: 25px;
                            width: 25px;
                            border-radius: 50%;

                        }
                    }

                }

                // profile picture
                img {
                    border-radius: 50%;
                    border: .75px solid rgba(0, 0, 0, .2);
                    max-height: 50px;
                    margin: 4px 7px 0 0;
                }

                // all the words
                .post-words {
                    margin-top: 5px;
                    max-width: 480px;

                    .author {
                        width: 100%;
                        margin-bottom: 15px;
                        color: $p-pink;
                        font-size: 12px;
                    }

                    .post-body {
                        width: 100%;
                        overflow-wrap: break-word;
                        line-height: 15px;
                        font-size: 16px;
                    }

                    // div for the like and comment button
                    .comment-like {
                        display: inline-flex;
                        align-items: center;
                        margin-left: -7px;
                        padding-top: 10px;

                        .like-counter {
                            margin: 0 4px 0 0;
                            font-size: 12px;
                        }

                        .buttons {
                            cursor: pointer;
                            border: none;
                            background: none;
                            color: $p-pink;
                            width: auto;
                            font-size: 12px;

                            // on hover
                            &:hover {
                                color: $p-pink-light;
                            }
                        }
                        .grey-button {
                            color: rgba(0, 0, 0, .5);
                        }
                    }
                }

            }
        }

        // the 3 dots for the post
        i.fa-ellipsis-h {
            text-align: center;
            color: $p-pink-light;
            font-size: 20px;
            margin-bottom: 1px;
        }

        .dropdown {
            margin-left: 10px;

            button {
                background-color: transparent;
                border: none;
                height: auto;
                padding: 0;
            }
            .dropdown-menu.show {
                text-align: center;
                max-width: 50px;

                .delete-button {
                    color: orangered;
                }
            }

        }
    }

}



@media screen and (max-width: 768px) {
    #blog {
        .guestbook-container {
            width: 95%;
            #must-log-in, #make-post {
                width: 95%;
            }
            #posts {
                width: 95%;

                .post {
                    .post-words {
                        width: 80%;
                    }

                    .comments {
                        margin-left: 5px;
                        width: 100%;

                        .comment {
                            width: 100%;

                            .comment-words {
                                width: 79%;
                            }
                        }
                    }
                }
            }
        }
    }
}