.admin-container {
    background: $p-blue-dark;
    border-radius: 10px;
    color: $p-gold;
    margin: 30px auto;

    h3 {
        cursor: default;
    }
    
    .nav-item {
        cursor: pointer;
    }
}

.spacing {
    min-height: 65vh;
    .guest-list-container {
        background: $p-blue-dark;
        border-radius: 10px;
        color: $p-gold;
        margin: 30px auto;
    }
}