.registry-container {
    min-height: 65vh;
    margin-top: 80px;
    padding: 10px 10px 20px;
    border-radius: 10px;

    .box {
        background: $p-blue-dark;
        border-radius: 10px;
        padding: 20px 20px 40px;

        h3 {
            font-size: 1.3em;
            color: $p-gold;
            padding: 15px;
        }

        p {
            color: $p-gold;
            line-height: 20px;
            font-size: 1em;
            text-indent: 20px;
            margin-top: 30px;
        }

        img {
            border-radius: 10px;
        }
    }
}

