.reset-password-container {
    min-height: 70vh;
    margin: 20px auto 100px;

    p {
        width: 100%;
    }
    .reset-password-form {
        background: $p-blue-dark;
        border-radius: 10px;
        margin: 5px auto;
        //padding: 20px 80px 5px;
        color: $p-gold;
        padding: 10px 0;

        .form-group {
            margin: 5px 0;
            label {
                @include font(sans-serif);
                font-weight: 100;

                i {
                    color: $p-pink-light;
                    cursor: pointer;
                }
            }
        }

        .btn-primary {
            margin: 10px 0;
            background: $p-blue-dark;
            color: $p-pink-light;
            transition: all .3s;
            border: 1px solid $p-pink-light;

            &:hover {
                background-color: $p-pink-light;
                color: $p-blue-dark;
                border-color: $p-blue-dark;
            }
        }
    }
}